{% include "base.html" %}

{% block content %}
<meta charset="UTF-8">

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row bg-title">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="page-title">Nova venda</h4> 
            </div>

            <!-- /.col-lg-12 -->
        </div>
        <!--.row-->
        <form>            
        <div class="row">
            <div class="col-md-12">
                <div class="white-box">
                    <h3 class="box-title m-b-0">Nova venda</h3>
                    <p class="text-muted m-b-30 font-13"> Adicionar nova venda</p>
                    <div class="row">
                        <div class="col-lg-1">                                            
                            <label>ID</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cliente_id" name="cliente_id" placeholder="ID"> 
                            </div>
                        </div>
                        <div class="col-lg-7">                                            
                            <label>Cliente</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cliente" name="cliente" placeholder="Digite o nome do cliente"> 
                            </div>
                        </div>
                        <div class="col-lg-4">
                                    <label>Data</label>
                                    <div class="input-group">
                                        <input type="text" name="data" id="data" class="form-control mydatepicker" placeholder="dd/mm/yyyy"> <span class="input-group-addon"><i class="icon-calender"></i></span>
                                    </div>
                        </div>
                        <div class="col-lg-1">
                                <label class="m-t-20">ID</label>
                                <div class="input-group">
                                    <input type="text" name="produto_id" id="produto_id" class="form-control" placeholder="ID">
                                </div>
                            </div>
                        <div class="col-lg-6">
                            <label class="m-t-20">Produto</label>
                            <div class="input-group">
                                <input type="text" name="produto" id="produto" class="form-control" placeholder="Digite o produto">
                            </div>
                        </div>
                        <div class="col-lg-2">
                            <label class="m-t-20">Quantidade</label>
                            <div class="input-group">
                                <input type="text" name="quantidade" id="quantidade" class="form-control" value="1">
                            </div>
                        </div>
                        <div class="col-lg-1">
                            <label class="m-t-20">Valor</label>
                            <div class="input-group">
                                <input type="text" name="valor" id="valor" class="form-control">
                            </div>
                        </div>
                        <div class="col-lg-2">
                                <label class="m-t-20">Adicionar</label>
                                <div class="input-group">
                                    <button type='button' id="demo-btn-addrow" class="btn btn-success"><i class="icon wb-plus" aria-hidden="true"></i>Adicionar</button>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-lg-12">
                    <div class="white-box">
                        <h3 class="box-title m-b-0">Produtos</h3>
                        <p class="text-muted m-b-20">Produtos selecionados para venda </p>
                        <table id="demo-foo-addrow" class="table table-bordered table-hover toggle-circle" data-page-size="7">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th data-sort-initial="true" data-toggle="true">produto</th>
                                    <th>quantidade</th>
                                    <th>valor</th>
                                    <th id='total'>total</th>
                                    <th >remover</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <div class="text-right">
                                            <ul class="pagination"> </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                        <button type="submit" id="convert-table" class="btn btn-success waves-effect waves-light m-r-10">Salvar</button>
                    </div>
                </div>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}
<script src="/static/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
<script src="/static/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
<script src="/static/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
<script src="/static/plugins/bower_components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
<link href="/static/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<!-- Footable -->
<script src="/static/plugins/bower_components/footable/js/footable.all.min.js"></script>
<script src="/static/plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
<!--FooTable init-->
<script src="/static/js/footable-init.js"></script>
<script src="/static/bootstrap/js/typeahead.js"></script>
<script src="/static/js/tabletojson.js"></script>

<script>
        // Date Picker
        jQuery('.mydatepicker, #datepicker').datepicker();
            jQuery('.mydatepicker, #datepicker').datepicker({
                autoclose: true
                , zIndexOffset: '1001'
                , todayHighlight: true
                , orientation: 'bottom'

            });
            jQuery('#date-range').datepicker({
                toggleActive: true
                ,     orientation: 'bottom'

            });
            jQuery('#datepicker-inline').datepicker({
                todayHighlight: true
                ,    orientation: 'bottom'

            });
    </script>
<script>
    $('#convert-table').click( function() {
		var table = $('#demo-foo-addrow').tableToJSON();
       // Convert the table into a javascript object
      
        var cliente_id = $("#cliente_id").val();
		var cliente = $("#cliente").val();
		var dia = $("#data").val();

        var xhr = new XMLHttpRequest();
        var url = "/nova_venda/";
        xhr.open("POST", url, true);
        xhr.setRequestHeader("Content-type", "application/json");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                var json = JSON.parse(xhr.responseText);
                //console.log(json.email + ", " + json.password);
            }
        };
        var data = JSON.stringify({'cliente_id':cliente_id,
                                   'cliente':cliente,
                                   'data':dia,
                                   'produtos':table});
        xhr.send(data);
        });

</script>